PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=attendance_app
ADMIN_PASSWORD=admin123
OFFICE_ALLOWED_IPS=
RESEND_API_KEY=
REPORT_FROM_EMAIL=Attendance Portal <onboarding@resend.dev>
REPORT_TO_EMAILS=
